<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Парсинг</title>
</head>
<body>

<form action="{% url 'parsing_page' %}" method="POST">
    <label for="linkInput">Введите вашу ссылку:</label><br>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <input type="hidden" name="method" value="parse">
    <button type="submit">Начать</button>
</form>

</body>
</html>
